## Copyright (c) 2024-2025, Oracle and/or its affiliates.
## Licensed under the Universal Permissive License v1.0 as shown at http://oss.oracle.com/licenses/upl.

# spell-checker:disable
bokeh==3.6.3
evaluate==0.4.3
fastapi==0.115.8
faiss-cpu==1.10.0
giskard==2.16.1
IPython==8.32.0
langchain-cohere==0.4.2
langchain-community==0.3.18
langchain-huggingface==0.1.2
langchain-ollama==0.2.3
langchain-openai==0.3.6
langgraph==0.2.74
litellm==1.61.11
llama_index==0.12.19
lxml==5.3.1
matplotlib==3.10.0
oci~=2.0
plotly==5.24.1
psutil==6.1.1
python-multipart==0.0.20
umap-learn==0.5.7
uvicorn==0.34.0

## For Licensing Purposes; ensures no GPU modules are installed
## as part of langchain-huggingface
-f https://download.pytorch.org/whl/cpu/torch
torch==2.6.0+cpu ; sys_platform == "linux"
torch==2.6.0 ; sys_platform == "darwin"
