# spell-checker: disable
##############################################################################
# Project/User Specific
##############################################################################
**/*.log
**/requirements.txt
!requirements.txt
!app/server/requirements.txt
!app/client/requirements.txt
app/THIRD_PARTY_LICENSES.txt
helm/values*.yaml
helm/service.yaml
helm/ingress.yaml
sbin/**
**/*.bak
**/tmp/**
**/chatbot_graph.png
sonar.sh

##############################################################################
# Environment (PyVen, IDE, etc.)
##############################################################################
**/.venv
**/.vscode
**/.DS_Store
**/*.swp
**/.scannerwork
**/.cursorignore
**/tns_admin
sonar-project.properties

##############################################################################
# Python
##############################################################################
__pycache__/
.pytest_cache
*.py[cod]
*$py.class
*/*.egg-info
**/build/

##############################################################################
# Random
##############################################################################
**/demo*.sh
spring_ai/src/main/resources/data/explorer_settings.json
spring_ai/target/**
spring_ai/create_user.sql
spring_ai/drop.sql
/start.sh
spring_ai/env.sh
temp/rag_agent.ipynb
temp/tools.ipynb
temp/tools.py
temp/json-dual.sql
temp/genai_work.py
temp/test_oci.py
src/client/spring_ai/target/classes/*
sandbox.sh
api_server_key
