# spell-checker: disable
##############################################################################
# Project/User Specific
##############################################################################
**/*.log
**/requirements.txt
app/THIRD_PARTY_LICENSES.txt
sbin/**
**/*.bak
**/tmp/**
**/temp/**
**/chatbot_graph.png
**/*.sh
!opentofu/oci/templates/cloudinit-oke.sh
!src/entrypoint.sh
!src/client/spring_ai/templates/env.sh

##############################################################################
# Environment (PyVen, IDE, etc.)
##############################################################################
**/.venv
**/.vscode
**/.DS_Store
**/*.swp
**/.scannerwork
**/.cursorignore
**/tns_admin
sonar-project.properties

##############################################################################
# Python
##############################################################################
__pycache__/
.pytest_cache
*.py[cod]
*$py.class
*/*.egg-info
**/build/

##############################################################################
# IaC
##############################################################################
**/**.tfvars
**/.terraform*
**/terraform.tfstate*
opentofu/**/examples/*.yaml

##############################################################################
# Helm
##############################################################################
helm/values*.yaml
!helm/values.yaml

##############################################################################
# Random
##############################################################################
spring_ai/src/main/resources/data/explorer_settings.json
spring_ai/target/**
spring_ai/create_user.sql
spring_ai/drop.sql
src/client/spring_ai/target/classes/*
api_server_key