## Copyright (c) 2023, 2024, Oracle and/or its affiliates.
## Licensed under the Universal Permissive License v1.0 as shown at http://oss.oracle.com/licenses/upl.
##############################################################################
# Developer Custom
##############################################################################
assets/docos/samples/oracle-ai-vector-search-users-guide-qa.jsonl
assets/docos/oracle-ai-vector-search-users-guide.pdf

##############################################################################
# Project/User Specific
##############################################################################
**/requirements.txt
!app/requirements.txt
app/THIRD_PARTY_LICENSES.txt
rag/**
sbin/**
helm/values.yaml
**/*.bak

##############################################################################
# Enviroment (PyVen, IDE, etc.)
##############################################################################
**/.venv
**/.vscode
**/.DS_Store
**/*.swp
**/.scannerwork
sonar-project.properties

##############################################################################
# Python
##############################################################################
__pycache__/
*.py[cod]
*$py.class
env.sh
