## Copyright (c) 2023, 2024, Oracle and/or its affiliates.
## Licensed under the Universal Permissive License v1.0 as shown at http://oss.oracle.com/licenses/upl.

# spell-checker:disable
fastapi==0.115.6
giskard==2.16.0
langchain-cohere==0.3.4
langchain-community==0.3.13
langchain-huggingface==0.1.2
langchain-ollama==0.2.2
langchain-openai==0.2.14
langgraph==0.2.60
llama_index==0.12.8
oci>=2.0.0
oracledb>=2.0.0
psutil==6.1.1
python-multipart==0.0.20
uvicorn==0.34.0

## For Licensing Purposes; ensures no GPU modules are installed
## as part of langchain-huggingface
-f https://download.pytorch.org/whl/cpu/torch
torch==2.5.1+cpu ; sys_platform == "linux"
torch==2.5.1 ; sys_platform == "darwin"


# TODO:gotsysdba figure out where these go
# bokeh==3.6.1
# evaluate==0.4.3
# faiss-cpu==1.9.0
# giskard==2.15.5
# IPython==8.29.0
# 
# lxml==5.3.0
# matplotlib==3.9.2
# plotly==5.24.1
# umap-learn==0.5.7