## Copyright (c) 2023, 2024, Oracle and/or its affiliates.
## Licensed under the Universal Permissive License v1.0 as shown at http://oss.oracle.com/licenses/upl.

# spell-checker:disable

## Additional requirements for running tests; venv from src/ should already be in place
## pip3.11 install -r requirements.txt
pytest
