## Copyright (c) 2023, 2024, Oracle and/or its affiliates.
## Licensed under the Universal Permissive License v1.0 as shown at http://oss.oracle.com/licenses/upl.

**/__pycache__
**/__init__.py
**/tests
**/etc
# **/.streamlit/config.toml
# **/tns_admin
**/.pytest_cache
# No shell scripts included except the entrypoint
**/*.sh
!entrypoint.sh