## Copyright (c) 2023, 2024, Oracle and/or its affiliates.
## Licensed under the Universal Permissive License v1.0 as shown at http://oss.oracle.com/licenses/upl.

## Avoid overwriting this with a freeze as it causes version incompatibilities with multi-platform
## Any new modules will require regenerating the 3PL, be selective

## Installation Example (from repo root):
### python3.11 -m venv .venv
### source .venv/bin/activate
### pip3 install --upgrade pip wheel setuptools
### pip3 install -r app/requirements.txt

## Top-Level brings in the required dependencies, if adding modules, try to find the minimum required
bokeh==3.6.1
evaluate==0.4.3
faiss-cpu==1.9.0
giskard==2.15.5
IPython==8.29.0
langchain-cohere==0.3.1
langchain-community==0.3.7
langchain-huggingface==0.1.2
langchain-ollama==0.2.0
langchain-openai==0.2.9
langgraph==0.2.53
llama_index==0.12.1
lxml==5.3.0
matplotlib==3.9.2
oci>=2.0.0
oracledb>=2.0.0
plotly==5.24.1
streamlit==1.40.1
umap-learn==0.5.7

## For Licensing Purposes; ensures no GPU modules are installed
## as part of langchain-huggingface
-f https://download.pytorch.org/whl/cpu/torch
torch==2.5.1+cpu ; sys_platform == "linux"
torch==2.5.1 ; sys_platform == "darwin"