/* Global customization */

:root {
    --code-max-height: 60rem;
  }
  
  /* Light mode theming */
  :root,
  :root[color-theme="light"] {
    --header-background:  #ffffff;
    --header-font-color: #161513;

    --body-background: #ffffff;
    --body-font-color: #161513;
   
    --footer-background: #C74634;
    --footer-font-color: #ffffff;
    --footer-link-color: #ffffff;
    --footer-link-color-visited: #ffffff;
  }
  @media (prefers-color-scheme: light) {
    :root {
        --header-background: #ffffff;
        --header-font-color: #161513;
    
        --body-background: #ffffff;
        --body-font-color: #161513;
       
        --footer-background: #C74634;
        --footer-font-color: #ffffff;
        --footer-link-color: #ffffff;
        --footer-link-color-visited: #ffffff;
    }
  }
  
  /* Dark mode theming */
  :root[color-theme="dark"] {
    --header-background: #312D2A;
    --header-font-color: #ffffff;
  
    --body-background: #312D2A;
    --body-font-color: #ffffff;
 
    --footer-background: #312D2A;
    --footer-font-color: #ffffff;
    --footer-link-color: #ffffff;
    --footer-link-color-visited: #ffffff;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --header-background: #312D2A;
      --header-font-color: #ffffff;
    
      --body-background: #312D2A;
      --body-font-color: #ffffff;
   
      --footer-background:  #C74634;
      --footer-font-color: #ffffff;
      --footer-link-color: #ffffff;
      --footer-link-color-visited: #ffffff;
    }
  }

  @font-face {
    font-family: 'MontserratAlt1-Light';
    src: url('fonts/MontserratAlt1-Light.woff2') format('woff2'),
         url('fonts/MontserratAlt1-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  .gdoc-brand__title {
    font-family: 'MontserratAlt1-Light', sans-serif;
    font-style: italic;
  }