@import "theme-zen-light.css";

@font-face {
    font-family: 'MontserratAlt1-Light';
    src: url('/oaim-sandbox/fonts/MontserratAlt1-Light.woff2') format('woff2'),
         url('/oaim-sandbox/fonts/MontserratAlt1-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --PRIMARY-color: #C74634;
    --SECONDARY-color: #C74634;
    --MENU-HOME-LINK-HOVER-color:#C74634;
    --MENU-SEARCH-color:#C74634;
    --MENU-SECTION-ACTIVE-CATEGORY-color:#C74634;
    --MENU-SECTIONS-LINK-HOVER-color:#C74634;
    --INTERNAL-MAIN-font: "Liberation Sans",sans-serif;
    --INTERNAL-MAIN-TITLES-H1-font: "MontserratAlt1-Light",sans-serif;
    --MAIN-TITLES-H1-font: "MontserratAlt1-Light",sans-serif;
}

body{
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

b, strong, label, th {
    font-weight: bolder;
}

html {
	font-size: 16px;
	letter-spacing: .33px;
}

div.box, div.box code .copy-to-clipboard {
    font-size: 14px;
    letter-spacing: .33px;
}