## Copyright (c) 2024-2025, Oracle and/or its affiliates.
## Licensed under the Universal Permissive License v1.0 as shown at http://oss.oracle.com/licenses/upl.

# spell-checker:disable

## Avoid overwriting this with a freeze as it causes version incompatibilities with multi-platform
## Any new modules will require regenerating the 3PL, be selective


## Installation Example from this directory:

### python3.11 -m venv .venv
### source .venv/bin/activate
### pip3.11 install --upgrade pip wheel setuptools
### pip3.11 install -r requirements.txt
langchain-core==0.3.35
httpx==0.28.1
oracledb~=2.0
-r server/requirements.txt
-r sandbox/requirements.txt